.btn {
  background-color: $spotify-green;
  border-color: $spotify-green;
  &:hover {
    background-color: lighten($spotify-green, 10%);
    border-color: $spotify-green;
  }
  &:focus {
    color: black;
    background-color: white;
    outline-color: none;
    border-color: white;
  }
  &:active {
    color: black;
    background-color: white;
    border-color: white;
    outline: none;
  }
}

.active-button {
  color: black;
  background-color: white;
  border-color: white;
  &:hover {
    background-color: white;
    color: black;
    border-color: white;
  }
}

.btn:focus,
.btn:active {
  background-color: white;
  outline: none !important;
  box-shadow: none;
}

.btn-primary:not(:disabled):not(.disabled):active {
  background-color: white;
  border-color: white;
  color: black;
}

.btn-primary:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0.1rem white;
}
