// .item {
//   flex-grow: 1;
//   @media (min-width: 45rem) {
//     max-width: 155px;
//   }
// }

.item-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  width: 130px;
  height: 130px;
  margin: 0 0.3rem;
  @media (min-width: 45rem) {
    margin: 0;
  }
}

.item-image__text {
  text-align: center;
  padding: 0.25rem 1rem;
  background: black;
  color: white;
  word-wrap: wrap;
  border-radius: 5px;
  @media (max-width: 65rem) {
    display: none;
  }
}

.item-image__text--mobile {
  padding: 0.5rem 0.5rem;
  margin: 0;
  max-width: 130px;
  color: white;
  text-align: center;
  @media (min-width: 65rem) {
    display: none;
  }
}
