.login-page {
  background-image: url('../../images/login-image-mobile.jpg');
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media (min-width: 45rem) {
    background-image: url('../../images/login-image-desktop.jpg');
  }
}

.login-page__box {
  background: hsla(0, 0%, 100%, 0.95);
  box-shadow: 0px 10px 20px 0px rgba(50, 50, 50, 0.52);
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 18rem;
  padding: 32px 16px;
  h1 {
    color: black;
    font-weight: 700;
  }
  p {
    color: black;
    text-align: center;
  }
}

.login-page__credit {
  color: white !important;
  position: absolute;
  bottom: 0;
  color: white;
  font-size: 10px;
}
