.ReactModalPortal > div {
  opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
  align-items: center;
  display: flex;
  justify-content: center;
  transition: opacity 500ms ease-in-out;
  outline: none;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
  opacity: 0;
}

.Modal {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: black;
  max-width: 90%;
  padding: 1rem;
  @media (min-width: 45rem) {
    padding: 2rem 3rem;
  }
  outline: none;
}
