$spotify-green: #1db954;

html,
body {
  box-sizing: border-box;
}

#root {
  background-color: black;
}

h1 {
  color: white;
  font-size: 2rem;
}

a {
  padding: 6px 12px;
  text-decoration: none;
  color: white;
  background-color: $spotify-green;
  &:hover {
    text-decoration: none;
    color: white;
    background-color: lighten($spotify-green, 10%);
    border-color: white;
  }
}
